<% @prototypes.each do |p| %>
<div class="card">
  <%=link_to (image_tag p.image.variant(resize:'500x500')) ,prototype_path(p.id) %>
  <div class="card__body">
    <%= link_to p.title, root_path, class: :card__title%>
    <p class="card__summary">
      <%=link_to p.consept,root_path %>
    </p>
    <%= link_to p.user.name, root_path, class: :card__user %>
  </div>
</div>
    <%end%>